.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
}

.heading {
    background-color: black;
    height: 10vh;
    color: white;
    display: flex;
    letter-spacing: 0.2em;
    font-size: 3em;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    /* margin: 0%; */
    /* margin-bottom: 1em; */
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0em 8em;
    background-color: rgb(113, 113, 113);
    margin-bottom: 1em;

    input{
        height: 2em;
        width: 40vh;
        padding-left: 1em;
        color: rgb(109, 108, 108);
        font-size: 1.3em;
        border-radius: 0.4em;
        border: none;
        outline: none;
    }
}


.card {
    height: 60vh;
    width: 40vh;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.4em;

}

.image {
    height: 50%;
    width: 100%;

    img {
        height: 100%;
        /* border-radius: 0.4em; */
        border-top-left-radius: 0.4em;
        border-top-right-radius: 0.4em;
        width: 100%;
    }
}

.desp {
    /* border: 2px solid red; */
    height: 50%;
}

.title {
    text-align: center;
    font-size: 1.4em;
    margin: 0.5em 0;
    padding: 0%;
    font-family: sans-serif;
    font-weight: bold;
}

.about {
    padding-left: 1em;
    font-size: 1.1em;
    font-family: serif;
    display: flex;
    flex-direction: column;
    gap: 1em;

    span {
        font-weight: bolder;
    }
}